---
import SocialLinksContainer from "../containers/SocialLinksContainer";
import FooterLogo from "../logos/FooterLogo";
import "@fontsource/ibm-plex-mono/500-italic.css";
import "@fontsource/vt323";
import "../../scss/footer.scss";
---

<footer>
  <FooterLogo />
  <SocialLinksContainer section="footer" />
  <p>Designed and coded by <b>Amparo</b> <span>&#128128;</span></p>
  <p class="footer__mate-text">
    Fuelled by <a href="https://en.wikipedia.org/wiki/Mate_(drink)">mate</a> &#129481;
  </p>
</footer>
