---
import SocialLinksContainer from "../containers/SocialLinksContainer";
import FooterLogo from "../logos/FooterLogo";
---

<footer>
  <a href="#">Back to top</a>
  <FooterLogo />
  <SocialLinksContainer section="footer" />
  <p>Designed and coded by Amparo ☠</p>
  <p>
    Fuelled by <a href="https://en.wikipedia.org/wiki/Mate_(drink)">mate</a> 🧉
  </p>
</footer>
