---
import HeroImage from "../images/HeroImage";
import "@fontsource/ibm-plex-mono/700-italic.css";
import "@fontsource/ibm-plex-mono/700.css";
import "@fontsource/ibm-plex-sans";
import "../../scss/hero-section.scss";
---

<section class="hero-section">
  <HeroImage theme="light" />
  <p class="hero-section__greeting">
    Hi there!
    <!-- <span>&#128075;&#127996;</span> -->
  </p>
  <p class="hero-section__intro">
    I'm Amparo, an <span id="messi-trigger">Argentine-born</span> frontend developer
    based in the UK.
  </p>
  <p>I'm currently building my portfolio website.</p>
  <p>In the meantime, you can:</p>
  <ul>
    <li>
      <a href="https://github.com/amparoamparo">check out my GitHub</a>,
    </li>
    <li>
      <a href="https://linkedin.com/in/amparozeballos"
        >connect with me on LinkedIn</a
      >, or
    </li>
    <li>
      <a href="mailto:hello@amparo.codes">send me an email</a>.
    </li>
  </ul>
</section>
