---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Page not found - amparo.codes">
  <main>
    <h2>404: Page not found</h2>
    <p>The page you're trying to access doesn't exist.</p>
    <a href="/">Go back to the home page</a>
    <p>
      Or, if you think there's an error, <a href="mailto:error@amparo.codes"
        >contact me</a
      >.
    </p>
  </main>
</Layout>
