---
import Layout from "../layouts/Layout.astro";
import "../scss/404.scss";
import "@fontsource/ibm-plex-mono/700-italic.css";
import "@fontsource/ibm-plex-mono/700.css";
import "@fontsource/ibm-plex-sans";
import "@fontsource/vt323";
---

<Layout title="Page not found - amparo.codes">
  <main class="error-section">
    <span class="error-section__code">404</span>
    <h2 class="error-section__title">Page not found</h2>
    <p class="error-section__description">
      The page you're trying to access doesn't exist.
    </p>
    <div><a href="/">Go back to the homepage</a></div>
    <p>
      Or, if you think there's an error, <a
        href="
      mailto:error@amparo.codes"
      >
        contact me</a
      >.
    </p>
  </main>
</Layout>
