// light theme
$light-primary-light: #adddff;
$light-primary-dark: #274c67;
$light-secondary: #f9df80;
$light-background: #fafafa;
$light-body-text: #000000;
$light-link: #1b5883;
$light-footer-text: #1e4159;
$light-input-background: #ffffff;
$light-input-text-inactive: #515a61;
$light-error-border: #eb0000;
$light-error-text: #c20000;

// dark theme
$dark-primary-light: #adddff;
$dark-primary-dark: #1d5d8b;
$dark-secondary-light: #f2db89;
$dark-secondary-dark: #8a7f55;
$dark-background: #273844;
$dark-body-text: #f9f9f9;
$dark-link: #adddff;
$dark-footer-text: #e0f2ff;
$dark-input-background: #1c2831;
$dark-input-text-inactive: #cbc8c8;
$dark-error-border: #ff5757;
$dark-error-text: #ff9999;
