@use "colours" as *;

.header__social-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2rem;

  @media (min-width: 37.5rem) {
    place-self: end;
    justify-self: end;
  }
}

.footer__social-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2rem;
  padding: 1rem;

  @media (min-width: 56.25rem) {
    place-self: start;
    grid-column: 1;
    grid-row: 1;
    padding-left: 0;
  }

  .social-link__label {
    display: none;
  }

  .social-link {
    border-radius: 50%;
    padding: 0.25rem 0.5rem;

    svg {
      width: 1.5rem;
    }
  }
}
