@use "colours" as *;

footer {
  margin-top: 3rem;
  padding-top: 6.5rem;
  padding-bottom: 2.5rem;
  background-image: url("assets/backgrounds/footer-bg.svg");
  background-size: cover;
  background-position-x: center;
  display: grid;
  justify-content: center;
  gap: 2rem;

  p {
    color: $light-primary-dark;
    font-family: "IBM Plex Mono", monospace;
    font-style: italic;
    font-size: 0.9rem;
  }

  span {
    font-style: normal;
  }

  .footer__back-to-top {
    justify-self: center;
    width: fit-content;
    color: $light-link;
    font-weight: 700;
    text-decoration: none;
    border-bottom: solid 2px;
    transition: ease-in-out 150ms;

    &:hover {
      border-bottom: solid 4px;
    }

    &:focus-visible {
      outline: dashed #274c67 0.1875rem;
      outline-offset: 0.375rem;
      transition: linear 100ms;
    }
  }

  .footer__mate-text {
    font-family: "VT323", monospace;
    font-style: normal;
    font-weight: 400;
    font-size: 1.2rem;
    justify-self: center;
    margin-top: -1.5rem;

    a {
      color: $light-link;
      font-weight: normal;
      text-decoration: none;
      border-bottom: solid 2px;
      transition: ease-in-out 150ms;

      &:hover {
        border-bottom: solid 4px;
      }

      &:focus-visible {
        outline: dashed #274c67 0.1875rem;
        outline-offset: 0.375rem;
        transition: linear 100ms;
      }
    }
  }
}
