header {
  margin: 2rem 2.25rem 2.75rem;
  display: grid;
  gap: 2rem;

  @media (min-width: 56.25rem) {
    margin: 2.25rem 4rem 6rem;
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }

  @media (min-width: 75rem) {
    margin: 2.25rem 6rem 6rem;
  }

  @media (min-width: 112.5rem) {
    margin: 2.25rem 12rem 6rem;
  }
}
