.hero-image__img-xs {
  width: 12.5rem;
  height: 100%;
  display: flex;
  justify-self: flex-end;
  -webkit-mask-image: linear-gradient(rgba(0, 0, 0, 1) 72%, transparent);
  mask-image: linear-gradient(rgba(0, 0, 0, 1), transparent);

  // @media (min-width: 37.5rem) {
  //   justify-self: center;
  //   width: 50%;
  // }

  @media (min-width: 37.5rem) {
    display: none;
  }
}

.hero-image__img-lg {
  display: none;
  grid-column: 2;
  grid-row: 1;

  @media (min-width: 37.5rem) {
    height: auto;
    display: initial;
    justify-self: flex-end;
  }
}
