@use "colours" as *;

.header__logo {
  @media (min-width: 37.5rem) {
    place-self: start;
  }

  h1 {
    font-family: "VT323", monospace;
    font-weight: 400;
    font-size: 2rem;
    text-align: center;

    a {
      text-decoration: none;
      color: $light-primary-dark;
      font-weight: 400;
    }

    a:hover {
      color: $light-link;
    }

    a:focus-visible {
      &::before {
        background: none;
        box-shadow: none;
      }

      box-shadow: none;
      outline: dashed $light-primary-dark 0.1875rem;
      outline-offset: 0.375rem;
      transition: linear 100ms;
    }
  }
}

.footer__logo {
  display: block;
  font-family: "VT323", monospace;
  font-weight: 400;
  font-size: 1.5rem;
  text-align: center;
  text-decoration: none;
  color: $light-primary-dark;

  &:hover {
    color: $light-link;
  }

  &:focus-visible {
    &::before {
      background: none;
      box-shadow: none;
    }

    box-shadow: none;
    outline: dashed $light-primary-dark 0.1875rem;
    outline-offset: 0.375rem;
    transition: linear 100ms;
  }

  @media (min-width: 56.25rem) {
    grid-column: 2;
    justify-self: end;
  }
}
