@use "colours" as *;

.header__logo {
  @media (min-width: 56.25rem) {
    place-self: start;
  }

  h1 {
    font-family: "VT323", monospace;
    font-weight: 400;
    font-size: 2rem;
    // line-height: 1;
    text-align: center;

    a {
      text-decoration: none;
      color: $light-primary-dark;
      font-weight: 400;
    }

    a:hover {
      color: $light-link;
    }
  }
}

.footer__logo {
  display: block;
  font-family: "VT323", monospace;
  font-weight: 400;
  font-size: 1.5rem;
  text-align: center;
  text-decoration: none;
  color: $light-primary-dark;

  &:hover {
    color: $light-link;
  }

  @media (min-width: 56.25rem) {
    grid-column: 2;
    justify-self: end;
  }
}
