---
// fonts
import "@fontsource/ibm-plex-mono";
import "@fontsource/ibm-plex-sans";
import "@fontsource/vt323";

// css
import "../scss/global.scss";

// components
import Header from "../components/sections/Header.astro";
import Footer from "../components/sections/Footer.astro";

// astro props
export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="Explore the portfolio of Amparo, a frontend developer and UX engineer with a background in UX and content, and a passion for accessibility."
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.png" />
    <title>{title}</title>
  </head>
  <body>
    <Header />
    <slot />
    <Footer />
  </body>
</html>
